NEXT_PUBLIC_SUPABASE_URL=https://lzeziusbsugvnndtzpol.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6ZXppdXNic3Vndm5uZHR6cG9sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MTY1MTAsImV4cCI6MjA5Mzk5MjUxMH0.8zcdXgOKsDmXVcYST7i-QJNJKJo2G6cN2CuyiwQGd84
